<div class="card">
  <p-menubar [model]="menubarItems">
    <ng-template pTemplate="start">
      <i class="pi pi-apple"></i>
    </ng-template>
    <ng-template pTemplate="end">
      <i class="pi pi-video"></i>
      <i class="pi pi-wifi"></i>
      <i class="pi pi-volume-up"></i>
      <span class="clock">{{ time | async | date: "HH:mm:ss" }}</span>
      <i class="pi pi-search"></i>
      <i class="pi pi-bars"></i>
    </ng-template>
  </p-menubar>
  <div class="dock-window dock-advanced">
    <p-dock [model]="dockItems" position="bottom">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%" />
      </ng-template>
    </p-dock>

    <p-toast></p-toast>

    <p-dialog
      #dialogFinder
      [(visible)]="displayFinder"
      [breakpoints]="{ '960px': '50vw' }"
      [style]="{ width: '40vw', height: '45vh' }"
      [draggable]="true"
      [resizable]="false"
      (onDragEnd)="onDialogDrag(dialogFinder)"
    >
      <p-tree
        [value]="nodes"
        [(selection)]="selectedNode"
        (onNodeSelect)="onNodeSelect()"
        [selectionMode]="'single'"
      ></p-tree>
    </p-dialog>

    <p-dialog
      #dialogTerminal
      [maximizable]="true"
      [(visible)]="displayTerminal"
      [breakpoints]="{ '960px': '50vw' }"
      [style]="{ width: '30vw' }"
      [draggable]="true"
      [resizable]="false"
      (onDragEnd)="onDialogDrag(dialogTerminal)"
    >
      <p-terminal
        welcomeMessage="Welcome to my terminal (cmd: 'date', 'greet {0}', 'random')"
        prompt="meleadr $"
      ></p-terminal>
    </p-dialog>

    <p-galleria
      [value]="images"
      [showThumbnails]="false"
      [showThumbnailNavigators]="false"
      [showItemNavigators]="true"
      [(visible)]="displayGalleria"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '850px' }"
      [circular]="true"
      [fullScreen]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="item.itemImageSrc"
          style="width: 100%; display: block"
          [alt]="item.alt"
        />
      </ng-template>
    </p-galleria>
  </div>
</div>
